@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.ul {
  list-style: none;
}

.a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
